@model IEnumerable<Product>

@section Scripts{
    @*<script src="~/ts/first_type_script.js"></script>
        <script src="~/ts/functionOverloading.js"></script>
        <script src="~/ts/Interfacefile.js"></script>
        <script src="~/ts/Modulefile.js"></script>
        <script src="~/ts/main.js"></script>*@


    @*<script src="~/clientapp/runtime-es5.js"></script>
    <script src="~/clientapp/polyfills-es5.js"></script>
    <script src="~/clientapp/styles-es5.js"></script>


    <script src="~/clientapp/vendor-es5.js"></script>
    <script src="~/clientapp/main-es5.js"></script>*@
    <script src="~/clientapp/runtime-es2015.js" type="module"></script>
    <script src="~/clientapp/runtime-es5.js" nomodule defer></script>
    <script src="~/clientapp/polyfills-es5.js" nomodule defer></script>
    <script src="~/clientapp/polyfills-es2015.js" type="module"></script>
    <script src="~/clientapp/styles-es2015.js" type="module"></script>
    <script src="~/clientapp/styles-es5.js" nomodule defer></script>
    <script src="~/clientapp/vendor-es2015.js" type="module"></script>
    <script src="~/clientapp/vendor-es5.js" nomodule defer></script>
    <script src="~/clientapp/main-es2015.js" type="module"></script>
    <script src="~/clientapp/main-es5.js" nomodule defer></script>
}
<h1>Shop</h1>
<shop-app></shop-app>
@*<p>Count: @Model.Count()</p>
    <div class="row">
        @foreach (var p in Model)
        {
            <div class="col-md-3">
                <div class="border bg-light rounded p-1">
                    <img src="~/img/@(p.ArtId).jpg" class="img-fluid" alt="@p.Title" />
                    <h3>@p.Category - @p.Size</h3>
                    <ul>
                        <li>Price: $@p.Price</li>
                        <li>Artist: @p.Artist</li>
                        <li>Title: @p.Title</li>
                        <li>Description: @p.ArtDescription</li>
                    </ul>
                    <button id="buyButton" class="btn btn-success">Buy</button>
                </div>
            </div>
        }
    </div>*@

